.uploadBox {
    width: 100%;
    height: 4em;
    position: relative;
    background-color:rgba(0, 0, 0, 0);
    border: 0px;
}

.newDirBox {
  width: 80%;
  position: relative;
  float: left;
}

.createDirBox {
    width: 80%;
    height: 2em;
    position: relative;
    background-color:rgba(0, 0, 0, 0);
    border: 0px;
}

.personalBox {
    width: 90%;
    height: 5em;
    position: relative;
    left: 2%;
    background-color: #F0FFFF;
    padding: 5px;
    border-radius: 5%;
}

.uploadBtn {
    padding: 5px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}

.content {
  overflow: auto;
}

.leftBox {
  width:25%;
  float:left;
  font-size:15px;
  font-weight:bold;
  background-color:#cecece;
  padding: 1em;
}

.rightBox {
  width:60%;
  float:left;
  font-size:15px;
  font-weight:bold;
  background: color #fffaf3;
}

#metaList {
  position: relative;
  left: 60px;
}

.metaStack {
  position: relative;
  top: 20px;
  font-size: 16px;
  font-weight:bold;
  border: 3px solid #7dcea0 ;
  display: block;
  margin:20px 0px 5px 0px;

}

.metaRow {
  position: relative;
  border-top: 1px solid #7dcea0;
}

.metaBlock {
  height: 100%;
  display: table-cell;
  padding: 8px 8px 8px 8px;
}

.defineBlock {
  background-color: #5F9EA0;
}

.followDefine {
  border-left: 1px solid #7dcea0 ;
  position: relative;
  left: 20px;
}

.titleBlock {
  border-left: 1px solid #7dcea0 ;
  position: relative;
}

.followMeta {
  border-left: 1px solid #7dcea0 ;
  position: relative;
  left: 20px;
}

.linkForm {
  height: auto;
  background-color: #cecece;
  border: 0px;
  padding: 0px;
}

.btn-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #0000EE;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
}

.rmDirBtn {
  position: relative;
  float: right;
}
